.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.elements {
  align-items: center;
  align-content: center;
  text-align: center;
  background-color: blue;
}
