<div class="container">
  <nav class="menu" tabindex="0">
    <div class="bar"><div class="smartphone-menu-trigger"></div></div>
    <header class="avatar">
      <img src="assets/images/image.jpg" alt="" />
      <h2>Ricardo Bolaños</h2>
    </header>
    <div class="">
      <ul>
        <li tabindex="0" routerLink="/home" routerLinkActive="active">
          <span>Inicio</span>
        </li>
        <li tabindex="0" routerLink="/about" routerLinkActive="active">
          <span>Acerca de mi</span>
        </li>
        <li tabindex="0" routerLink="/portfolio" routerLinkActive="active">
          <span>Portafolio</span>
        </li>
        <li tabindex="0" routerLink="/contact" routerLinkActive="active">
          <span>Contacto</span>
        </li>
      </ul>
    </div>
  </nav>


</div>



<div class="router-outlet">
  <main class="m-auto">
    <div class="helper">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>

