<div class="container">
  <nav class="menu" [@temaNav]="temaNav" tabindex="0">
    <div class="bar"><div class="smartphone-menu-trigger"></div></div>
    <header  class="avatar">
      <img src="assets/images/image.jpg" alt="" />
      <h2 >Ricardo Bolaños</h2>
    </header>
    <div class="">
      <ul>
        <li class="icon-home" tabindex="0" routerLink="/home" routerLinkActive="active">
          <span>Inicio</span>
        </li>
        <li class="icon-about" tabindex="0" routerLink="/about" routerLinkActive="active">
          <span>Acerca de mi</span>
        </li>
        <li class="icon-portfolio" tabindex="0" routerLink="/portfolio" routerLinkActive="active">
          <span>Portafolio</span>
        </li>
        <li class="icon-contact" tabindex="0" routerLink="/contact" routerLinkActive="active">
          <span>Contacto</span>
        </li>
        <li class="icon-theme" tabindex="0" (click)="cambiarTema()">
          <span>Dark/Light</span>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="router-outlet">
  <main class="" [@temaBody]="temaBody">
      <router-outlet></router-outlet>
  </main>
</div>
